<section class="section-article" id="section-article">
  <div class="container container-article">
    <div class="article-content">
      <h2 class="article-title">
        Welcome to Booksy – your cozy corner for handpicked reads.
      </h2>
      <p class="article-text">
        We believe books are more than just stories — they’re companions,
        doorways, and memories. Whether you’re chasing adventures or quiet
        moments, we’re here to help you find your next favorite book.
      </p>
    </div>
    <picture>
      <!-- pc -->
      <source
        srcset="
          ./img/webp/article/article-pc.webp    1x,
          ./img/webp/article/article-pc@2x.webp 2x
        "
        media="(min-width: 1440px)"
        type="image/webp"
      />
      <source
        srcset="
          ./img/jpg/article/article-pc.jpg    1x,
          ./img/jpg/article/article-pc@2x.jpg 2x
        "
        media="(min-width: 1440px)"
        type="image/jpeg"
      />
      <!-- tab -->
      <source
        srcset="
          ./img/webp/article/article-tab.webp    1x,
          ./img/webp/article/article-tab@2x.webp 2x
        "
        media="(min-width: 768px)"
        type="image/webp"
      />
      <source
        srcset="
          ./img/jpg/article/article-tab.jpg    1x,
          ./img/jpg/article/article-tab@2x.jpg 2x
        "
        media="(min-width: 768px)"
        type="image/jpeg"
      />
      <!-- mob -->
      <source
        srcset="
          ./img/webp/article/article-mob.webp    1x,
          ./img/webp/article/article-mob@2x.webp 2x
        "
        media="(min-width: 320px)"
        type="image/webp"
      />
      <img
        class="article-image"
        srcset="./img/jpg/article/article-mob@2x.jpg 2x"
        src="./img/jpg/article/article-mob.jpg"
        alt="your cozy corner"
        loading="lazy"
      />
    </picture>
  </div>
</section>
