<section class="books-section" id="books-section">
  <div class="container books-container">
    <h2 class="visually-hidden">Trending books</h2>
    <div class="books-nav">
      <div class="books-nav-title-box">
        <h3 class="books-nav-title">Books</h3>
        <p class="books-nav-counter"></p>
      </div>

      <!-- ===========  dropdown ===========-->
      <div class="books-nav-dropdown">
        <button class="books-dropdown-toggle">Categories</button>
        <ul class="books-dropdown-menu is-hidden"></ul>
      </div>
      <!-- ===========  /dropdown ===========-->

      <ul class="books-nav-category"></ul>
    </div>
    <div class="books-gallery">
      <ul class="books-gallery-list"></ul>
      <button class="books-gallery-btn is-hidden" type="button">
        Show More
      </button>
      <span class="loader is-hidden"></span>
    </div>
  </div>
</section>
