<!--<section class="section feedbacks-section">
    <div class="container feedbacks-container">  -->


<section class="feedback-section">
    <div class="container">
        <h2 class="feedback-section-title">Customer Feedbacks</h2>
        <p class="feedback-section-subtitle">See what our readers are saying about us!</p>

        <!-- Слайдер -->
        <div class="swiper feedback-swiper">
            <ul class="swiper-wrapper"></ul>

            <!-- Навигация -->
            <div class="feedbacks-controls">
                <div class="feedback-pagination-dots">
                    <span class="dot" data-index="0"></span>
                    <span class="dot" data-index="1"></span>
                    <span class="dot" data-index="2"></span>
                    <span class="dot" data-index="3"></span>
                </div>
                <div class="feedback-navigation-buttons">
                    <button class="fnav-btn prev-btn" aria-label="Previous">&#8592;</button>
                    <button class="fnav-btn next-btn" aria-label="Next">&#8594;</button>
                </div>
            </div>
        </div>
    </div>
</section>