<footer class="footer" id="footer-section">
  <div class="container footer-container">
    <div class="footer-wrapper">
      <a class="footer-logo" href="./index.html">
        <svg class="footer-logo-svg">
          <use href="/img/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <nav class="footer-nav">
        <ul class="footer-nav-list">
          <li class="footer-nav-list-item">
            <a class="footer-nav-list-link" href="#hero-section">Home</a>
          </li>
          <li class="footer-nav-list-item">
            <a class="footer-nav-list-link" href="#books-section">Books</a>
          </li>
          <li class="footer-nav-list-item">
            <a class="footer-nav-list-link" href="#feedbacks-section">Feedback</a>
          </li>
          <li class="footer-nav-list-item">
            <a class="footer-nav-list-link" href="#location-section">Location</a>
          </li>
        </ul>
      </nav>
      <div class="footer-subs">
        <form class="footer-subs-form" id="signupForm">
          <label for="emailInput" class="footer-subs-title">Join</label>
          <div class="footer-subs-input-wrapper">
            <input class="footer-subs-input" id="emailInput" type="email" name="footer-subscription"
              placeholder="Enter your email" pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" required />
            <button class="footer-subs-button" id="signupBtn" type="submit">
              Sign Up
            </button>
          </div>
          <p class="footer-subs-text">* Required field</p>
        </form>
      </div>
      <div id="customAlert" class="custom-alert">
        <span id="alertText"></span>
      </div>
    </div>
    <p class="copyrights">&copy; 2025 Booksy. All rights reserved.</p>

    <!--*========= FOOTER MODAL WINDOW ===== -->
    <div id="signupModal" class="modal">
      <div class="modal-content">
        <span class="close-btn">&times;</span>
        <p>Thank you for signing up!</p>
      </div>
    </div>
    <!--*========= /FOOTER MODAL WINDOW ===== -->
  </div>
</footer>