<header class="header">
  <div class="container header-container">
    <nav class="page-nav" aria-label="Main navigation">
      <a href="./index.html" aria-label="Go to homepage">
        <svg class="icon-logo" width="84" height="36">
          <use href="/img/sprite.svg#icon-logo"></use>
        </svg>
      </a>

      <ul class="page-menu">
        <li class="page-menu-item">
          <a class="page-menu-link" href="#hero-section">Home</a>
        </li>
        <li class="page-menu-item">
          <a class="page-menu-link" href="#books-section">Books</a>
        </li>
        <li class="page-menu-item">
          <a class="page-menu-link" href="#feedbacks-section">Feedbacks</a>
        </li>
        <li class="page-menu-item">
          <a class="page-menu-link" href="#events-section">Events</a>
        </li>
        <li class="page-menu-item">
          <a class="page-menu-link" href="#location-section">Location</a>
        </li>
      </ul>
    </nav>

    <button
      class="mobile-open-menu-btn"
      type="button"
      aria-label="Open mobile menu"
    >
      <svg class="mobile-open-menu-btn-icon" width="24" height="24">
        <use href="/img/sprite.svg#icon-menu-alt-right"></use>
      </svg>
    </button>
  </div>
</header>

<div class="mobile-menu">
  <div class="container mobile-menu-container">
    <div class="mobile-menu-logo-close-btn-container">
      <a href="./index.html" aria-label="Go to homepage">
        <svg class="icon-logo" width="84" height="36">
          <use href="/img/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <button
        class="mobile-menu-close-btn"
        type="button"
        aria-label="Close mobile menu"
      >
        <svg class="mobile-menu-close-icon" width="24" height="24">
          <use href="/img/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>

    <nav class="mobile-menu-nav" aria-label="Mobile navigation">
      <ul class="mobile-page-menu">
        <li class="mobile-page-menu-item">
          <a class="mobile-page-menu-link" href="#hero-section">Home</a>
        </li>
        <li class="mobile-page-menu-item">
          <a class="mobile-page-menu-link" href="#books-section">Books</a>
        </li>
        <li class="mobile-page-menu-item">
          <a class="mobile-page-menu-link" href="#feedbacks-section"
            >Feedbacks</a
          >
        </li>
        <li class="mobile-page-menu-item">
          <a class="mobile-page-menu-link" href="#events-section">Events</a>
        </li>
        <li class="mobile-page-menu-item">
          <a class="mobile-page-menu-link" href="#location-section">Location</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
