<header class="header" id="home-section">
  <div class="container header-container">
    <nav class="page-nav">
      <a href="/">
        <svg class="icon-logo" width="83" height="21">
          <use href="/img/icon-logo.svg"></use>
          <!-- <use href="/img/sprite.svg#icon-logo"></use> -->
        </svg>
      </a>

      <ul class="page-menu">
        <li class="page-menu-item">
          <a class="page-menu-link" href="#home-section">Home</a>
        </li>
        <li class="page-menu-item">
          <a class="page-menu-link" href="#books-section">Books</a>
        </li>
        <li class="page-menu-item">
          <a class="page-menu-link" href="#feedbacks-section">Feedbacks</a>
        </li>
        <li class="page-menu-item">
          <a class="page-menu-link" href="#events-section">Events</a>
        </li>
        <li class="page-menu-item">
          <a class="page-menu-link" href="#location-section">Location</a>
        </li>
      </ul>
    </nav>

    <button class="mobile-open-menu-btn" type="button">
      <svg class="mobile-open-menu-btn-icon" width="24" height="24">
        <use href="/img/sprite.svg#icon-menu-alt-right"></use>
      </svg>
    </button>
  </div>
</header>

<div class="mobile-menu">
  <div class="container mobile-menu-container">
    <div class="mobile-menu-logo-close-btn-container">
      <a href="/">
        <svg class="icon-logo" width="83" height="21">
          <!-- <use href="/img/sprite.svg#icon-logo"></use> -->
          <use href="/img/icon-logo.svg"></use>
        </svg>
      </a>
      <button class="mobile-menu-close-btn" type="button">
        <svg class="mobile-menu-close-icon" width="24" height="24">
          <use href="/img/sprite.svg#icon-x"></use>
        </svg>
      </button>
    </div>

    <nav class="mobile-menu-nav">
      <ul class="mobile-page-menu">
        <li class="mobile-page-menu-item">
          <a class="mobile-page-menu-link" href="#home-section">Home</a>
        </li>
        <li class="mobile-page-menu-item">
          <a class="mobile-page-menu-link" href="#books-section">Books</a>
        </li>
        <li class="mobile-page-menu-item">
          <a class="mobile-page-menu-link" href="#feedbacks-section"
            >Feedbacks</a
          >
        </li>
        <li class="mobile-page-menu-item">
          <a class="mobile-page-menu-link" href="#events-section">Events</a>
        </li>
        <li class="mobile-page-menu-item">
          <a class="mobile-page-menu-link" href="#location-section">Location</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
