<section class="hero" id="hero-section">
  <div class="container hero-container">
    <!-- Swiper container -->
    <div class="hero-swiper swiper">
      <!-- Wrapper -->
      <ul class="hero-list swiper-wrapper">
        <!-- Slide 1 -->
        <li class="hero-item swiper-slide">
          <picture>
            <!-- DESC -->
            <source media="(min-width: 1440px)" type="image/webp" srcset="
                /img/hero/banner-pc-1.webp 1x,
                /img/hero/banner-pc-1@2x.webp 2x
              " />
            <source media="(min-width: 1440px)" type="image/jpeg" srcset="
                /img/hero/banner-pc-1.jpg 1x,
                /img/hero/banner-pc-1@2x.jpg 2x
              " />

            <!-- TAB -->
            <source media="(min-width: 768px)" type="image/webp" srcset="
                /img/hero/banner-tab-1.webp 1x,
                /img/hero/banner-tab-1@2x.webp 2x
              " />
            <source media="(min-width: 768px)" type="image/jpeg" srcset="
                /img/hero/banner-tab-1.jpg 1x,
                /img/hero/banner-tab-1@2x.jpg 2x
              " />

            <!-- MOB -->
            <source type="image/webp" srcset="
                /img/hero/banner-mob-1.webp 1x,
                /img/hero/banner-mob-1@2x.webp 2x
              " />
            <img class="hero-img" srcset="/img/hero/banner-mob-1@2x.jpg 2x" src="/img/hero/banner-mob-1.jpg"
              alt="banner-1" loading="lazy" width="343" height="199" />
          </picture>
          <p class="banner-title">Get 10% off<br>your first order</p>
          <a href="#books-section" class="banner-btn" aria-disabled="true" tabindex="-1">Shop Now!</a>
        </li>

        <!-- Slide 2 -->
        <li class="hero-item swiper-slide">
          <picture>
            <!-- DESC -->
            <source media="(min-width: 1440px)" type="image/webp" srcset="
                /img/hero/banner-pc-2.webp 1x,
                /img/hero/banner-pc-2@2x.webp 2x
              " />
            <source media="(min-width: 1440px)" type="image/jpeg" srcset="
                /img/hero/banner-pc-2.jpg 1x,
                /img/hero/banner-pc-2@2x.jpg 2x
              " />

            <!-- TAB -->
            <source media="(min-width: 768px)" type="image/webp" srcset="
                /img/hero/banner-tab-2.webp 1x,
                /img/hero/banner-tab-2@2x.webp 2x
              " />
            <source media="(min-width: 768px)" type="image/jpeg" srcset="
                /img/hero/banner-tab-2.jpg 1x,
                /img/hero/banner-tab-2@2x.jpg 2x
              " />

            <!-- MOB -->
            <source type="image/webp" srcset="
                /img/hero/banner-mob-2.webp 1x,
                /img/hero/banner-mob-2@2x.webp 2x
              " />
            <img class="hero-img" srcset="/img/hero/banner-mob-2@2x.jpg 2x" src="/img/hero/banner-mob-2.jpg"
              alt="banner-2" loading="lazy" width="343" height="199" />
          </picture>
          <p class="banner-title">Save 15%<br>on some books</p>
          <a href="#books-section" class="banner-btn" aria-disabled="true" tabindex="-1">Shop Now!</a>
        </li>

        <!-- Slide 3 -->
        <li class="hero-item swiper-slide">
          <picture>
            <!-- DESC -->
            <source media="(min-width: 1440px)" type="image/webp" srcset="
                /img/hero/banner-pc-3.webp 1x,
                /img/hero/banner-pc-3@2x.webp 2x
              " />
            <source media="(min-width: 1440px)" type="image/jpeg" srcset="
                /img/hero/banner-pc-3.jpg 1x,
                /img/hero/banner-pc-3@2x.jpg 2x
              " />

            <!-- TAB -->
            <source media="(min-width: 768px)" type="image/webp" srcset="
                /img/hero/banner-tab-3.webp 1x,
                /img/hero/banner-tab-3@2x.webp 2x
              " />
            <source media="(min-width: 768px)" type="image/jpeg" srcset="
                /img/hero/banner-tab-3.jpg 1x,
                /img/hero/banner-tab-3@2x.jpg 2x
              " />

            <!-- MOB -->
            <source type="image/webp" srcset="
                /img/hero/banner-mob-3.webp 1x,
                /img/hero/banner-mob-3@2x.webp 2x
              " />
            <img class="hero-img" srcset="/img/hero/banner-mob-3@2x.jpg 2x" src="/img/hero/banner-mob-3.jpg"
              alt="banner-3" loading="lazy" width="343" height="199" />
          </picture>
          <p class="banner-title">Summer Sale!<br>Up to -40% discounts</p>
          <a href="#books-section" class="banner-btn" aria-disabled="true" tabindex="-1">Shop Now!</a>
        </li>

        <!-- Slide 4 -->
        <li class="hero-item swiper-slide">
          <picture>
            <!-- DESC -->
            <source media="(min-width: 1440px)" type="image/webp" srcset="
                /img/hero/banner-pc-4.webp 1x,
                /img/hero/banner-pc-4@2x.webp 2x
              " />
            <source media="(min-width: 1440px)" type="image/jpeg" srcset="
                /img/hero/banner-pc-4.jpg 1x,
                /img/hero/banner-pc-4@2x.jpg 2x
              " />

            <!-- TAB -->
            <source media="(min-width: 768px)" type="image/webp" srcset="
                /img/hero/banner-tab-4.webp 1x,
                /img/hero/banner-tab-4@2x.webp 2x
              " />
            <source media="(min-width: 768px)" type="image/jpeg" srcset="
                /img/hero/banner-tab-4.jpg 1x,
                /img/hero/banner-tab-4@2x.jpg 2x
              " />

            <!-- MOB -->
            <source type="image/webp" srcset="
                /img/hero/banner-mob-4.webp 1x,
                /img/hero/banner-mob-4@2x.webp 2x
              " />
            <img class="hero-img" srcset="/img/hero/banner-mob-4@2x.jpg 2x" src="/img/hero/banner-mob-4.jpg"
              alt="banner-4" loading="lazy" width="343" height="199" />
          </picture>
          <p class="banner-title">
            Last chance to buy<br>our spring bestsellers
          </p>
          <a href="#books-section" class="banner-btn" aria-disabled="true" tabindex="-1">Shop Now!</a>
        </li>
      </ul>

      <!-- PAGINATION -->
      <div class="hero-swiper-pagination"></div>

      <!-- BUTTONS -->
      <div class="main-title-wrapper">
        <div class="hero-swiper-btn-wrapper">
          <button class="hero-swiper-btn-prev" tabindex="0" disabled>
            <svg class="hero-icon" viewBox="0 0 24 24">
              <use href="/img/sprite.svg#icon-left-arrow-alt"></use>
            </svg>
          </button>
          <button class="hero-swiper-btn-next" tabindex="0" disabled>
            <svg class="hero-icon" viewBox="0 0 24 24">
              <use href="/img/sprite.svg#icon-right-arrow-alt"></use>
            </svg>
          </button>
        </div>
        <h1 class="main-title">Discover Your Next Great Read Today!</h1>
      </div>
    </div>
  </div>
</section>