<section>
  <div class="container hero-container">
    <ul class="hero-list">
      <li class="hero-item">
        <picture>
          <!-- DESC -->
          <source media="(min-width: 1440px)" type="image/webp" srcset="#">
          <source media="(min-width: 1440px)" type="image/jpeg" srcset="#">

          <!-- TAB -->
          <source media="(min-width: 768px)" type="image/webp" srcset="#">
          <source media="(min-width: 768px)" type="image/jpeg" srcset="#">

          <!-- MOB -->
          <source type="image/webp" srcset="#">
          <img class="hero-img" srcset="#" src="#" alt="banner-1" loading="lazy" width="343" height="199">
        </picture>
        <h2 class="hero-title">Get 10% off your first order</h2>
        <button>Shop Now!</button>
      </li>
      <li class="hero-item">
        <picture>
          <!-- DESC -->
          <source media="(min-width: 1440px)" type="image/webp" srcset="#">
          <source media="(min-width: 1440px)" type="image/jpeg" srcset="#">

          <!-- TAB -->
          <source media="(min-width: 768px)" type="image/webp" srcset="#">
          <source media="(min-width: 768px)" type="image/jpeg" srcset="#">

          <!-- MOB -->
          <source type="image/webp" srcset="#">
          <img class="hero-img" srcset="#" src="#" alt="banner-2" loading="lazy" width="343" height="199">
        </picture>
        <h2 class="hero-title">Save 15% on some books</h2>
        <button>Shop Now!</button>
      </li>
      <li class="hero-item">
        <picture>
          <!-- DESC -->
          <source media="(min-width: 1440px)" type="image/webp" srcset="#">
          <source media="(min-width: 1440px)" type="image/jpeg" srcset="#">

          <!-- TAB -->
          <source media="(min-width: 768px)" type="image/webp" srcset="#">
          <source media="(min-width: 768px)" type="image/jpeg" srcset="#">

          <!-- MOB -->
          <source type="image/webp" srcset="#">
          <img class="hero-img" srcset="#" src="#" alt="banner-3" loading="lazy" width="343" height="199">
        </picture>
        <h2 class="hero-title">Summer Sale!
          Up to -40% discounts</h2>
        <button>Shop Now!</button>
      </li>
      <li class="hero-item">
        <picture>
          <!-- DESC -->
          <source media="(min-width: 1440px)" type="image/webp" srcset="#">
          <source media="(min-width: 1440px)" type="image/jpeg" srcset="#">

          <!-- TAB -->
          <source media="(min-width: 768px)" type="image/webp" srcset="#">
          <source media="(min-width: 768px)" type="image/jpeg" srcset="#">

          <!-- MOB -->
          <source type="image/webp" srcset="#">
          <img class="hero-img" srcset="#" src="#" alt="banner-4" loading="lazy" width="343" height="199">
        </picture>
        <h2 class="hero-title">Last chance to buy our spring bestsellers</h2>
        <button>Shop Now!</button>
      </li>
    </ul>
    <button>swiper left</button>
    <button>swiper right</button>
    <h1 class="main-title">Discover Your Next Great Read Today!</h1>
  </div>
</section>