<section class="location" id="location-section">
  <div class="container location-container">
    <div class="location-wrapper">
      <div class="location-title-wrapper">
        <p class="location-subtitle">Location</p>
        <h2 class="location-title">How to find us</h2>
        <p class="location-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique.
        </p>
      </div>

      <address class="location-list-address">
        <ul class="location-list">
          <li class="location-list-item">
            <svg class="location-list-svg" width="24" height="24">
              <use href="/img/sprite.svg#icon-email"></use>
            </svg>
            <p class="location-list-text">Email</p>
            <a class="location-list-link" href="mailto:hello@booksy.com"
              >hello@booksy.com</a
            >
          </li>
          <li class="location-list-item">
            <svg class="location-list-svg" width="24" height="24">
              <use href="/img/sprite.svg#icon-phone"></use>
            </svg>
            <p class="location-list-text">Phone</p>
            <a class="location-list-link" href="tel:+612413043012"
              >+61 (241) 304-3012</a
            >
          </li>
          <li class="location-list-item">
            <svg class="location-list-svg" width="24" height="24">
              <use href="/img/sprite.svg#icon-map"></use>
            </svg>
            <p class="location-list-text">Office</p>
            <span>123 Books St, Sydney NSW 2000 AU</span>
          </li>
        </ul>
      </address>
      <iframe
        class="iframe"
        src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d13250.536978867503!2d151.19950416511895!3d-33.87331581743142!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s123%20Books%20St%2C%20Sydney%20NSW%202000%20AU!5e0!3m2!1suk!2sua!4v1753430181822!5m2!1suk!2sua"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      >
      </iframe>
    </div>
  </div>
</section>
