.books-section {
  padding: 32px 0 0 0;
}

.books-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
  /* border: 1px dashed red; */
}

.books-nav {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  margin-bottom: 24px;
}

.books-nav-title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.books-nav-title {
  font: var(--text-large-semi-bold);
  color: var(--color-scheme1-text);
}

.books-nav-counter {
  font: var(--text-small-normal);
  color: var(--color-scheme1-text);
}

/* ============ */

.books-nav-dropdown {
  /* position: relative; */
}

.books-dropdown-toggle {
  font: var(--text-medium-normal);
  color: var(--color-scheme-1-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
  height: 43px;
  border-radius: 4px;
  border: 1px solid var(--opacity-neutral-darkest-15);
  background-color: var(--opacity-neutral-darkest-5);
}

.books-dropdown-arrow {
  background-color: #fff;
}

.books-dropdown-menu {
  display: none;
}

.books-dropdown-menu-item {
}

/* ============ */

.books-nav-category {
  display: none;
}

.books-nav-category-item {
}

/* ============ */

.books-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  /* border: 1px dashed red; */
}

.books-gallery-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 24px;

  /* border: 1px dashed green; */
}

.books-gallery-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  /* border: 1px dashed purple; */
}

.books-gallery-img-wrapper {
  width: 100%;
  aspect-ratio: 227 / 323;
  margin: 0 auto;
  overflow: hidden;
  flex-shrink: 0;
}

.books-gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.books-gallery-card-info {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: flex-start;

  /* border: 1px dashed green */
}

.books-gallery-card-text {
  display: flex;
  flex-direction: column;
}

.books-gallery-card-title {
  font: var(--display-desktop-tagline);
  color: var(--color-scheme-2-text);
  text-transform: capitalize;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.books-gallery-card-author {
  font: var(--text-small-normal);
  color: var(--color-scheme-2-text);
}

.books-gallery-card-price {
  font: var(--text-large-semi-bold);
  color: var(--color-scheme-2-text);
}

.books-gallery-card-btn {
  width: 100%;
  height: 40px;
  border: 1px solid var(--color-neutral-darkest);
  border-radius: 4px;
  background-color: transparent;
  font: var(--text-regular-normal);
  color: var(--color-neutral-darkest);
  transition: background-color linear 250ms;
}

.books-gallery-card-btn:hover,
.books-gallery-card-btn:focus {
  background-color: var(--color-bamboo-light);
}

.books-gallery-card-btn:active {
  background-color: var(--color-neutral-lighter);
}

.books-gallery-btn {
  width: 100%;
  max-width: 342px;
  height: 48px;
  border: none;
  border-radius: 4px;
  background-color: var(--color-bamboo);
  color: var(--color-white);
  font: var(--text-regular-normal);
  /* margin-bottom: 32px; */
  transition: background-color linear 250ms;
}

.books-gallery-btn:hover,
.books-gallery-btn:focus {
  background-color: var(--color-neutral-darkest);
}

.books-gallery-btn:active {
  background-color: var(--color-bamboo-darker);
}

.books-gallery-btn.is-hidden {
  display: none;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .books-container {
    padding: 0 32px;
  }

  .books-nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .books-nav-title-box {
  }

  .books-nav-title {
  }

  .books-nav-counter {
  }

  /* ============ */

  .books-nav-dropdown {
  }

  .books-dropdown-toggle {
    width: 249px;
  }

  .books-dropdown-arrow {
  }

  .books-dropdown-menu {
  }

  .books-dropdown-menu-item {
  }

  /* ============ */

  .books-nav-category {
  }

  .books-nav-category-item {
  }

  /* ============ */

  .books-gallery {
    /* border: 1px dashed red; */
  }

  .books-gallery-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    row-gap: 24px;
    column-gap: 24px;

    /* border: 1px dashed green; */
  }

  .books-gallery-card {
    width: 340px;
    height: 100%;
  }

  .books-gallery-card:last-child {
  }

  .books-gallery-img {
  }

  .books-gallery-card-info {
  }

  .books-gallery-card-title {
    max-width: 287px;
  }

  .books-gallery-card-author {
  }

  .books-gallery-card-price {
  }

  .books-gallery-card-btn {
  }

  .books-gallery-btn {
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .books-container {
    flex-direction: row;
    align-items: start;
    justify-content: center;
    padding: 0 64px;
  }

  .books-nav {
    flex-direction: column;
    align-items: start;
    gap: 32px;
    margin-right: 24px;
  }

  .books-nav-title-box {
    margin-bottom: 0;
  }

  .books-nav-title {
  }

  .books-nav-counter {
  }

  .books-nav-dropdown {
    display: none;
  }

  .books-nav-category {
    display: block;
  }

  .books-nav-category-item {
    padding-top: 8px;
    padding-bottom: 8px;
    color: var(--color-neutral-darkest);
    transition: opacity linear 250ms;
  }

  .books-nav-category-item a:active {
    opacity: 80%;
  }

  /* ============ */

  .books-gallery {
  }

  .books-gallery-list {
    width: 980px;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 40px;
  }

  .books-gallery-card {
    width: 227px;
  }

  .books-gallery-card:last-child {
  }

  .books-gallery-img-wrapper {
    /* width: 227px; */
  }

  .books-gallery-img {
  }

  .books-gallery-card-info {
  }

  .books-gallery-card-title {
    max-width: 178px;
  }

  .books-gallery-card-author {
  }

  .books-gallery-card-price {
  }

  .books-gallery-card-btn {
  }

  .books-gallery-btn {
  }
}

/* ==========  loader ======== */
.loader {
  position: relative;
  width: 100px;
  height: 100px;
}

.loader:before,
.loader:after {
  content: '';
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}
.loader:after {
  box-shadow: 0 2px 0 #d84d22 inset;
  animation: rotate 2s linear infinite;
}

.loader.is-hidden {
  display: none;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ==========  /loader ======== */
