.books-section {
  padding: 32px 0 0 0;
}

.books-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
  /* border: 1px dashed red; */
}

.books-nav {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  margin-bottom: 24px;
}

.books-nav-title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.books-nav-title {
  font: var(--text-large-semi-bold);
  color: var(--color-scheme1-text);
}

.books-nav-counter {
  font: var(--text-small-normal);
  color: var(--color-scheme1-text);
}

/* ============ */

.books-nav-dropdown {
  /* position: relative; */
}

.books-dropdown-toggle {
  font: var(--text-medium-normal);
  color: var(--color-scheme-1-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
  height: 43px;
  border-radius: 4px;
  border: 1px solid var(--opacity-neutral-darkest-15);
  background-color: var(--opacity-neutral-darkest-5);
}

.books-dropdown-arrow {
  background-color: #fff;
}

.books-dropdown-menu {
  display: none;
}

.books-dropdown-menu-item {}

/* ============ */

.books-nav-category {
  display: none;
}

.books-nav-category-item {}

/* ============ */

.books-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  /* border: 1px dashed red; */
}

.books-gallery-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 24px;

  /* border: 1px dashed green; */
}

.books-gallery-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  /* border: 1px dashed purple; */
}

.books-gallery-img {
  width: 100%;
  border-radius: 8px;
}

.books-gallery-card-info {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.books-gallery-card-text {
  display: flex;

}

.books-gallery-card-title {
  font: var(--display-desktop-tagline);
  color: var(--color-scheme-2-text);
  text-transform: capitalize;

}

.books-gallery-card-author {
  font: var(--text-small-normal);
  color: var(--color-scheme-2-text);

}

.books-gallery-card-price {
  font: var(--text-large-semi-bold);
  color: var(--color-scheme-2-text);
}


.books-gallery-card-btn {
  width: 100%;
  height: 40px;
  border: 1px solid var(--color-neutral-darkest);
  border-radius: 4px;
  background-color: transparent;
  font: var(--text-regular-normal);
  color: var(--color-neutral-darkest);
  transition: background-color linear 250ms;
}

.books-gallery-card-btn:hover,
.books-gallery-card-btn:focus {
  background-color: var(--color-bamboo-light);
}

.books-gallery-card-btn:active {
  background-color: var(--color-neutral-lighter);
}

.books-gallery-btn {
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 4px;
  background-color: var(--color-bamboo);
  color: var(--color-white);
  font: var(--text-regular-normal);
  margin-bottom: 32px;
  transition: background-color linear 250ms;
}

.books-gallery-btn:hover,
.books-gallery-btn:focus {
  background-color: var(--color-neutral-darkest);
}

.books-gallery-btn:active {
  background-color: var(--color-bamboo-darker);
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .books-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
  }

  .books-nav-title-box {}

  .books-nav-title {}

  .books-nav-counter {}

  /* ============ */

  .books-nav-dropdown {}

  .books-dropdown-toggle {
    width: 340px;
  }

  .books-dropdown-arrow {}

  .books-dropdown-menu {}

  .books-dropdown-menu-item {}

  /* ============ */

  .books-nav-category {}

  .books-nav-category-item {}

  /* ============ */

  .books-gallery {}

  .books-gallery-list {
    width: 704px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .books-gallery-card {
    width: 340px;
  }

  .books-gallery-card:last-child {}

  .books-gallery-img {}

  .books-gallery-card-info {}

  .books-gallery-card-title {}

  .books-gallery-card-author {}

  .books-gallery-card-price {}

  .books-gallery-card-btn {}

  .books-gallery-btn {}
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .books-container {
    flex-direction: row;
    align-items: start;
    justify-content: center;
  }

  .books-nav {
    flex-direction: column;
    align-items: start;
    gap: 32px;
    margin-right: 24px;
  }

  .books-nav-title-box {
    margin-bottom: 0;
  }

  .books-nav-title {}

  .books-nav-counter {}

  .books-nav-dropdown {
    display: none;
  }

  .books-nav-category {
    display: block;
  }

  .books-nav-category-item {
    padding-top: 8px;
    padding-bottom: 8px;
    color: var(--color-neutral-darkest);
    transition: opacity linear 250ms;
  }

  .books-nav-category-item a:active {
    opacity: 80%;
  }

  /* ============ */

  .books-gallery {}

  .books-gallery-list {
    row-gap: 40px;
    column-gap: 24px;
    width: 980px;
  }

  .books-gallery-card {
    width: 227px;
  }

  .books-gallery-card:last-child {}

  .books-gallery-img {}

  .books-gallery-card-info {}

  .books-gallery-card-title {}

  .books-gallery-card-author {}

  .books-gallery-card-price {}

  .books-gallery-card-btn {}

  .books-gallery-btn {}
}