@media screen {
  .footer {
    min-width: 320px;
    background-color: var(--color-scheme-3-background);
  }
  .footer-container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 32px;
  }
  .footer-logo {
    display: inline-block;
    line-height: 0;
  }
  .footer-logo-svg {
    width: 84px;
    height: 36px;
    padding: 0;
    margin: 0;
  }
  .footer-nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
  }
  .footer-nav-list-link {
    font: var(--text-regular-normal);
  }

  .footer-subs {
    width: 100%;
    margin-bottom: 80px;
  }
  .footer-subs-form {
    display: flex;
    flex-direction: column;
    column-gap: 16px;
    row-gap: 12px;
    width: 100%;
  }
  .footer-subs-title {
    font: var(--text-regular-semi-bold);
    color: var(--color-scheme-3-text);
    margin-bottom: 4px;
    flex: 1 0 50%;
  }
  .footer-subs-input-wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 12px;
    width: 100%;
  }
  .footer-subs-input {
    flex: 1 1 auto;
    min-width: 0;
    height: 48px;
    padding: 8px 12px;
    background: var(--opacity-neutral-darkest-5);
    border: 1px solid var(--opacity-neutral-darkest-15);
    border-radius: 4px;
  }
  .footer-subs-input::placeholder {
    font: var(--text-regular-normal);
    color: var(--opacity-neutral-darkest-60);
  }

  .footer-subs-button {
    flex: 0 0 auto;
    width: 108px;
    height: 48px;
    padding: 12px 23px;
    font: var(--text-regular-normal);
    color: var(--color-scheme-3-text);
    border: 1px solid var(--color-neutral-darkest);
    border-radius: 4px;
    background: transparent;
  }
  .footer-subs-button:hover,
  .footer-subs-button:focus {
    color: var(--color-white);
    background: var(--color-neutral-darkest);
  }
  .footer-subs-button:active {
    color: var(--color-white);
    background: var(--color-bamboo-dark);
  }
  .footer-subs-text {
    font: var(--text-tiny-normal);
    color: var(--color-neutral-darkest);
  }
  .copyrights {
    font: var(--text-small-normal);
    color: var(--color-scheme-3-text);
    padding-top: 32px;
    text-align: center;
    width: 100%;
    border-top: 1px solid var(--color-scheme-3-border);
  }
  .modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
  }

  .close-btn {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }

  .close:hover {
    color: black;
  }
  .custom-alert {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #fff5cc;
    color: #333;
    padding: 15px 20px;
    border: 1px solid #e6b800;
    border-radius: 8px;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 200;
    animation: fadeInOut 3s ease-in-out;
  }

  @keyframes fadeInOut {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    10% {
      opacity: 1;
      transform: translateY(0);
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(-10px);
    }
  }
  @media screen and (min-width: 768px) {
    .footer-nav-list {
      flex-direction: row;
      column-gap: 32px;
    }
    .footer-subs {
      max-width: 400px;
    }
    .footer-subs-form {
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .footer-subs-input {
      width: 278px;
    }
    .footer-subs-text {
      flex: 1 0 50%;
    }
  }
  @media screen and (min-width: 1440px) {
    .footer-wrapper {
      max-height: 118px;
      flex-wrap: wrap;
      align-items: flex-start;
      align-content: space-between;
      justify-content: flex-start;
      margin-bottom: 80px;
    }
    .footer-subs {
      margin-bottom: 0;
    }
    .footer-subs-text {
      font: var(--text-tiny-normal);
    }
  }
}
