@media screen {
  .header {
    background-color: var(--color-bamboo-lightest);
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .page-menu {
    display: none;
  }

  button {
    border: none;
    background-color: transparent;
    padding: 0;
  }
}

a {
  line-height: 0;
}

@media screen and (max-width: 767px) {
  .header-container {
    padding: 8px 12px 8px 20px;
  }

  .mobile-open-menu-btn {
    line-height: 0;
    padding: 12px;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background-color: var(--color-bamboo-lightest);
    transform: translateX(100%);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu.is-open {
    transform: translateX(0%);
  }

  .mobile-menu-container {
    padding: 8px 12px 37px 20px;
  }

  .mobile-menu-logo-close-btn-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8px;
  }

  .mobile-menu-close-btn {
    line-height: 0;
    padding: 12px;
  }

  .mobile-page-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 6px;
    gap: 40px;
  }

  .mobile-page-menu-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
  }

  .mobile-page-menu-link:active {
    opacity: 0.8;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }

  .mobile-open-menu-btn {
    display: none;
  }

  .header-container {
    padding: 16px 32px;
  }

  .page-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .page-menu {
    display: flex;
    gap: 32px;
  }

  .page-menu-link {
    font-size: 16px;
    line-height: 1.5;
  }

  .page-menu-link:active {
    opacity: 0.8;
  }
}

@media screen and (min-width: 1440px) {
  .header-container {
    padding-left: 64px;
    padding-right: 64px;
  }
}
