@media screen {
  .location-container {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .location-title-wrapper {
    margin-bottom: 32px;
  }
  .location-subtitle {
    font: var(--display-desktop-tagline);
    text-transform: capitalize;
    margin-bottom: 16px;
  }
  .location-title {
    font: var(--display-desktop-xl);
    letter-spacing: -0.01em;
    margin-bottom: 24px;
  }
  .location-text {
    font: var(--text-medium-normal);
    margin: 0 auto;
    margin-bottom: 32px;
  }

  .location-list-item {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    align-items: center;
    margin-bottom: 24px;
  }
  .location-list-item span {
    font: var(--text-regular-normal);
    font-style: normal;
    margin-left: 40px;
  }
  .location-list-text {
    font: var(--display-desktop-xs);
    letter-spacing: -0.01em;
    font-style: normal;
    flex: 1 0 50%;
  }
  .location-list-link {
    font: var(--text-regular-normal);
    text-decoration: underline;
    text-decoration-skip-ink: none;
    font-style: normal;
    margin-left: 40px;
  }
  .location-text {
    margin-bottom: 0;
  }
  .iframe {
    margin: 0 auto;
    width: 100%;
    height: 395px;
    filter: grayscale(100%) contrast(120%) brightness(90%);
  }
  @media screen and (min-width: 768px) {
    .location-wrapper {
      display: flex;
      flex-wrap: wrap;
      column-gap: 32px;
      row-gap: 80px;
    }
    .location-title-wrapper {
      max-width: 336px;
    }
    .location-list-address {
      max-width: 336px;
    }
    .iframe {
      flex-grow: 1;
    }
  }
  @media screen and (min-width: 1440px) {
    .location-container {
      padding-bottom: 106px;
    }
    .location-wrapper {
      gap: 80px;
    }
    .location-title-wrapper {
      max-width: 732px;
    }
    .iframe {
      height: 738px;
    }
  }
}
